@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/*nav style*/
.list{
    display: flex;
    gap: 35px;
    
}
.nav-item{
    list-style: none;
    margin:36px auto;
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 92px;
    max-width: 1600px;
    width: 100%;
    background-color: #412567;   
}
.nav-container h3{
    margin: 30px 0 30px 50px;
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    font-size: 2rem;
    
}
.nav-container .colorful{
    background: linear-gradient(to top,#ee5170, rgb(240, 136, 240));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.btn-primary{
    margin:24px 200px 24px 350px;
    padding:12px 40px 12px 16px;
    border-radius: 10px;
    background: linear-gradient(55deg,hsl(60, 83%, 54%), #dd68b6, #e022a7);
    border: none;
}
#menu-toggle{
    display: none;
    
}
.menu-icon{
    display: none;
}
.burgur{
    display: none;
}
/*nav style ends*/
/*banner-dev Section*/
.banner{
    min-height: 100vh;
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}
.image-layer{
    position: relative;
    width: 220px;
    height:220px;
}
.circle{
    width: 170%;
    margin-left: -30%;
    margin-top: -50%;
}
.icon{
    position: absolute;
    top:30%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 110%;
}
.banner-content h2{
margin-top: 50px;
font-size: 3rem;
color: #FFFFFF;
}
.banner-content p{
    font-size: 1rem;
    color: #FFFFFF;
}
.button-group .button-one{
   background: linear-gradient(55deg,hsl(60, 83%, 54%), #dd68b6, #e022a7);
   color: #FFFFFF; 
   border: none;
   padding:12px 20px 12px 48px;
   border-radius: 8px;
}
.button-group .button-two{
    background: transparent;
    border: 1px solid black;
   padding:12px 20px 12px 48px;
   border-radius: 8px;
   color:#00FF88;
}
/*banner-dev section Ends*/
/*about section starts*/
.about{
    max-width: 1600px;
    width: 100%;
    height: 646px;
    background-color:#1A0B2E;
    margin-top: -65px;
}
.about .about-first{
    justify-content: center;
    text-align: center;
    margin: 50px 200px 20px 200px;
    padding: 50px;
   
}
.about-first h2{
color:#FFFFFF;
font-size: 3rem;
font-weight: 700;
margin-bottom: 10px;
}
.about-first p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}
.about .about-second{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:80px;
}
.about-second h1{
    font-size: 3rem;
    color:#00FF88;
}
.about-second p{
color: #e0d5d5;
font-size: 16px;
width: 100%;
line-height: 1.6;
}
.line{
    margin: 0 200px 50px 200px;
    color: rgb(75, 69, 62);
}

@media screen and (max-width:576px) {
/*nav bar section*/
.list{
    display: none;
}
.nav-container h3{
    color: #FFFFFF;
    font-size: 2rem;
    margin-right: -400px;
    
}
.burgur{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 40px;
}
/*nav bar section ends*/


.about-first p{
    width: 100%;
    max-width: 575px;
    text-align: center;


}
}

