@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    
    margin: 0;
    padding: 0;
    
}
/*nav style*/
.list{
    display: flex;
    gap: 35px;
    
}
.nav-item{
    list-style: none;
    margin:36px auto;
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 92px;
    max-width: 1600px;
    width: 100%;
    background-color: #412567;   
}
.nav-container h3{
    margin: 30px 0 30px 50px;
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    font-size: 2rem;
    
}
.nav-container .colorful{
    background: linear-gradient(to top,#ee5170, rgb(240, 136, 240));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.btn-primary{
    margin:24px 200px 24px 350px;
    padding:12px 40px 12px 16px;
    border-radius: 10px;
    background: linear-gradient(55deg,hsl(60, 83%, 54%), #dd68b6, #e022a7);
    border: none;
}

    


.burgur{
    display: none;
}
/*nav style ends*/
/*banner-dev Section*/
.green-button{
    padding: 10px;
    background-color: #00FF88;
    border: none;
    border-radius: 10px;
    position: absolute;
    transform: translate(150px, -270px );
    z-index: 10;
    
    
    
    
}
.banner{
    height: 760px;
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}
.image-layer{
    position: relative;
    width: 220px;
    height:220px;
}
.circle{
    width: 170%;
    margin-left: -30%;
    margin-top: -50%;
}
.icon{
    position: absolute;
    top:30%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 70%;
}
.banner-content h2{
margin-top: 50px;
font-size: 3rem;
color: #FFFFFF;
animation: h2 8s linear infinite;
}
@keyframes h2{
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}
.banner-content p{
    font-size: 1rem;
    color: #FFFFFF;
}
.button-group .button-one{
   background: linear-gradient(55deg,hsl(60, 83%, 54%), #dd68b6, #e022a7);
   color: #FFFFFF; 
   border: none;
   padding:12px 20px 12px 48px;
   border-radius: 8px;
}
.button-group .button-two{
    background: transparent;
    border: 1px solid black;
   padding:12px 20px 12px 48px;
   border-radius: 8px;
   color:#00FF88;
}
/*banner-dev section Ends*/
/*about section starts*/
.about{
    max-width: 1600px;
    width: 100%;
   
    background-color:#1A0B2E;
    margin-top: -65px;
}
.about .about-first{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /*margin: 50px 200px 20px 200px;*/
    padding: 50px;
   
}
.about-first h2{
color:#FFFFFF;
font-size: 3rem;
font-weight: 700;
margin-bottom: 20px;
}
.about-first p{
    color: #FFFFFF;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-size:1rem;
    line-height: 1.6;
}
.about .about-second{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    gap:30px;
    margin: 0 100px;
}
.about-second h1{
    font-size: 3rem;
    color:#00FF88;
}
.about-second p{
color: #e0d5d5;
font-size: 16px;
width: 100%;
line-height: 1.6;
margin-bottom: 120px;
}
.line{
    margin: 0 200px 50px 200px;
    color: rgb(75, 69, 62);
}
.box{
    background-color: #230E3D;
    max-width: 1600px;
    width: 100%;
}
.box h2{
    text-align: center;
    padding: 120px 200px 10px 200px;
    color: #FFFFFF;
    font-size: 3rem;
   
    margin-bottom: 20px;
}
.box-container .box-content{
    
    border-radius: 15px;
    background-color:rgba(53, 17, 101, 0.4);
    padding: 30px;
}
.box-container #headphone{
    grid-area: headphone;
}
.box-container #mobile{
    grid-area: mobile;
}
.box-container #location{
    grid-area: location;
}
.box-container #design-sign{
    grid-area: design-sign;
}
.box-container #book{
    grid-area: book;
}
.box-container{
    display: grid;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0px 200px;
    padding-bottom: 50px;
    grid-template-areas: 
    "headphone   mobile      mobile"
    "headphone   location    location"
    "design-sign design-sign  book";
    
}
.vedio-container{
    background-color: #1A0B2E;
     width: 100%;
   }
.vedio-container h2{
    text-align: center;
    padding:50px;
    font-size: 3rem;
    color: #FFFFFF;
}
.vedio-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    margin:0 200px;
}

.vedio-content .vedio-3{
   margin-bottom: 20px;
}
.vedio-1 h3{
    color: #FFFFFF;
    margin: 20px 0;
}
.vedio-1 p{
    text-align:left;
    color: #FFFFFF;
}
.vedio-2 h3{
    color:#FFFFFF;
    margin:17px 0;
}
.vedio-2 p{
    color: #FFFFFF;
}
.vedio-3 h3{
    color:#FFFFFF;
    margin:15px 0 ;
}
.vedio-3 p{
    color: #FFFFFF;
}
.vedio-1, .vedio-2, .vedio-3{
    width: 400px;
}
.vedio-content .clock{
    color: #00FF88;
}
.host-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 200px;
    border-radius: 20px;
    background-color:rgba(53, 17, 101, 0.4) ;
    gap: 20px;
}
footer{
    background: url(../images/footer-bg.png);
    max-width: 1600px;
    width: 100%;
    height: 412px;
}
footer h3{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 10px;
    font-size: 4rem;
    color: #FFFFFF;
}
footer .all-icon{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
footer p{
    text-align: center;
    justify-content: center;
    color: rgb(240, 244, 248);
}
footer .new-color{
    background: linear-gradient(to top,#ee5170, rgb(235, 15, 235));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



@media screen and (max-width:576px) {
/*nav bar section*/
.list{
    display: none;
}
.nav-container h3{
    color: #FFFFFF;
    font-size: 2rem;
    margin-right: -400px;
    
}
.burgur{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 40px;
}
/*nav bar section ends*/
.about-first p{
    width: 100%;
}
.about .about-second{
    grid-template-columns: repeat(2, 1fr);
}
.box-container{
    grid-template-areas: 
    "headphone"
    "mobile"
    "location"
    "design-sign"
    "book";
    margin: 0 auto;
    
}
.vedio-content{
    flex-direction: column;
}
.host-container{
    margin: 0 auto;
    flex-direction: column;
}
}

